{% extends 'profile/baseProfile.html.twig' %}


{% block title %}  {{ shop.name }} {% endblock %}

{% block contentTitle %}
    <h1> {{ shop.name}} </h1>
{% endblock %}
{% block content %}


{% endblock %}
